[submodule "solidity/lib/forge-std"]
	path = solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/lib/foundry-chainlink-toolkit"]
	path = solidity/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
